<!DOCTYPE html>
<html>
<head>
<style type="text/css">
<%- include ("../docs/stylesheets/main.css") %>
</style>
<%- include ("/_header.ejs") %>
<link href="/stylesheets/mailchimp.css" rel="stylesheet" type="text/css">
<%- include ("/_meta.ejs") %>
</head>
<body>
<div class="wrapper">
<%- include ("/_nav.ejs") %>
<section class="main-content">
  <h2>Hi!</h2>
  <p>I'm pancelor, and I make games! I like puzzle games, roguelikes, necrodancer, pico-8, and coding. Other stuff too, probably!</p>
  <p>You've somehow wandered into my portfolio/blog -- welcome! I hope you find something of interest here. I like meeting new people, and I'll happily talk to you about the things I find interesting :)</p>
  <p>Read a bit about my projects here, or go directly to my <a href="https://pancelor.itch.io">itch page</a> to play some games.</p>

  <h2>Major Projects</h2>
  <p>Out of all the projects showcased on this page, these are my favorite:</p>
  <div class="project-card-list">
    <a class="project-card"
       id="inbox-unbox"
       href="/posts/inbox-unbox"
       title="Inbox Unbox">
      <div class="project-card-preview">
        <img src="/assets/inbox-unbox.png">
        <video preload="auto" loop muted src="/assets/inbox-unbox.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Inbox Unbox</h3>
        <p>A worryingly recursive puzzle game about pushing boxes into other boxes. Rearrange the structure of the world itself to forge a path to the exit!</p>
      </div>
    </a>
    <a class="project-card"
       id="linecook"
       href="/posts/linecook"
       title="Linecook">
      <div class="project-card-preview">
        <img src="/assets/linecook/cover.png">
        <video preload="auto" loop muted src="/assets/linecook/cover.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>linecook</h3>
        <p>A frantic arcade game about feeding birds from conveyor belts (very normal). </p>
        <p><strong>(detailed blog post inside!)</strong></p>
      </div>
    </a>
    <a class="project-card"
       id="elephant-bottle"
       href="/posts/elephant-bottle"
       title="Elephant In A Bottle">
      <div class="project-card-preview">
        <img src="/assets/elephant-bottle.png">
        <video preload="auto" loop muted src="/assets/elephant-bottle.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Elephant In A Bottle</h3>
        <p>A puzzle game</p>
      </div>
    </a>
    <a class="project-card"
       id="paint-everything"
       href="/posts/paint-everything"
       title="Paint Everything Everywhere!">
      <div class="project-card-preview">
        <img src="/assets/paint-everything.png">
        <video preload="auto" loop muted src="/assets/paint-everything.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Paint Everything Everywhere!</h3>
        <p>A satisfying puzzle game about painting a large number of things in a large number of places</p>
      </div>
    </a>
    <a class="project-card"
       id="tetris-clone"
       href="/posts/tetris-clone"
       title="Tetris Clone">
      <div class="project-card-preview">
        <img src="/assets/tetris-clone.png">
        <video preload="auto" loop muted src="/assets/tetris-clone.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Tetris Clone</h3>
        <p>An exercise to see how hard it is to actually finish a game. (spoiler: it's hard)</p>
        <p><strong>(detailed blog post inside!)</strong></p>
      </div>
    </a>
    <a class="project-card"
       id="escalator-world"
       href="/posts/escalator-world"
       title="Escalator World">
      <div class="project-card-preview">
        <img src="/assets/escalator-world.png">
        <video preload="auto" loop muted src="/assets/escalator-world.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Escalator World</h3>
        <p>An exercise in polishing all the ancillary aspects of a game.</p>
      </div>
    </a>
  </div>

  <div class="mailing-list-card">
  <h3>join my mailing list!</h3>

  If you like my projects, join my mailing list! I'll email you about the cool stuff I'm making, you'll be the first place I turn to when looking for playtesters for <a href="/posts/inbox-unbox">Inbox Unbox</a>. If you're interested, enter your email here:

  <%- include ("/_mail.ejs") %>
  </div>

  <h2>Other projects</h2>
  <div class="project-card-list">
    <a class="project-card"
       id="vmj2020"
       href="/posts/vmj2020"
       title="Variety Mega Jam 2020">
      <div class="project-card-preview">
        <img src="/assets/chicken-swamp.png">
        <video preload="auto" loop muted src="/assets/chicken-swamp.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Variety Mega Jam 2020</h3>
        <p>I made 10 games in 10 days!</p>
      </div>
    </a>
    <a class="project-card"
       id="ocelot-safari"
       href="/posts/ocelot-safari"
       title="Ocelot Safari">
      <div class="project-card-preview">
        <img src="/assets/ocelot-safari.png">
        <video preload="auto" loop muted src="/assets/ocelot-safari.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Ocelot Safari</h3>
        <p>Retrieve the lost gemstone of Tezcatlipoca. My LD48 entry.</p>
      </div>
    </a>
    <a class="project-card"
       id="monster-mash"
       href="/posts/monster-mash"
       title="Monster Mash">
      <div class="project-card-preview">
        <img src="/assets/monster-mash.png">
        <video preload="auto" loop muted src="/assets/monster-mash.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Monster Mash</h3>
        <p>A cute game about getting ready for a monster party.</p>
      </div>
    </a>
    <a class="project-card"
       id="guided-sock-meditation"
       href="/posts/guided-sock-meditation"
       title="Guided Sock Meditation">
      <div class="project-card-preview">
        <img src="/assets/guided-sock-meditation.png">
        <video preload="auto" loop muted src="/assets/guided-sock-meditation.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Guided Sock Meditation</h3>
        <p>A puzzle game about matching socks.</p>
      </div>
    </a>
    <a class="project-card"
       id="ssk2k"
       href="/posts/ssk2k"
       title="SPACESHARKKILLER2000">
      <div class="project-card-preview">
        <img src="/assets/ssk2k.png">
        <video preload="auto" loop muted src="/assets/ssk2k.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>SPACESHARKKILLER2000</h3>
        <p>A game made in an hour, and an investigation of an incredible glitch.</p>
      </div>
    </a>
    <a class="project-card"
       id="software-renderer"
       href="/posts/software-renderer"
       title="Software Renderer">
      <div class="project-card-preview">
        <img src="/assets/software-renderer.png">
        <video preload="auto" loop muted src="/assets/software-renderer.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Software Renderer</h3>
        <p>A <strong>hand-written 3D renderer!</strong> It doesn't use the GPU at all; instead it does fast (integer-only) math to rasterize triangles to the screen, one pixel at a time.</p>
      </div>
    </a>
    <a class="project-card"
       id="fishy"
       href="/posts/fishy"
       title="Fishy">
      <div class="project-card-preview">
        <img src="/assets/fishy.png">
        <video preload="auto" loop muted src="/assets/fishy.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Fishy</h3>
        <p>A game written in only 560 characters!</p>
      </div>
    </a>
    <a class="project-card"
       id="ractweet"
       href="/posts/ractweet"
       title="Raccoon Tweetcarts">
      <div class="project-card-preview">
        <img src="/assets/ractweet.png">
        <video preload="auto" loop muted src="/assets/ractweet.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Raccoon Tweetcarts</h3>
        <p>Two animations, made in <280 characters of code</p>
      </div>
    </a>
    <a class="project-card"
       id="ttj6"
       href="/posts/ttj6"
       title="TweetTweetJam 6">
      <div class="project-card-preview">
        <img src="/assets/ttj6.png">
        <video preload="auto" loop muted src="/assets/ttj6.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>TweetTweetJam 6</h3>
        <p>4~5 games in <560 characters!</p>
      </div>
    </a>
    <a class="project-card"
       id="purple-gun-game"
       href="/posts/purple-gun-game"
       title="Purple Gun Game">
      <div class="project-card-preview">
        <img src="/assets/purple-gun-game.png">
        <video preload="auto" loop muted src="/assets/purple-gun-game.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Purple Gun Game</h3>
        <p>An exercise in getting a game running on the <strong>Windows API</strong> (no SDL2 or other libraries) and adding some cool features (like <strong>code hot-reloading!</strong>)</p>
      </div>
    </a>
    <a class="project-card"
       id="necrodecorator"
       href="/posts/necrodecorator"
       title="Crypt of the NecroDecorator">
      <div class="project-card-preview">
        <img src="/assets/necrodecorator.png">
        <video preload="auto" loop muted src="/assets/necrodecorator.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Crypt of the NecroDecorator</h3>
        <p>A game about decorating an inn to remind the visiting monsters of home.</p>
      </div>
    </a>
    <a class="project-card"
       id="upgo"
       href="/posts/upgo"
       title="Upgo">
      <div class="project-card-preview">
        <img src="/assets/upgo.png">
        <video preload="auto" loop muted src="/assets/upgo.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Upgo</h3>
        <p>A little Spelunky-inspired game. This was mainly an exercise in making a <strong>platformer with good game-feel</strong> (coyote frames, etc)</p>
      </div>
    </a>
    <a class="project-card"
       id="ps-level-select"
       href="/posts/ps-level-select"
       title="PuzzleScript Level Select">
      <div class="project-card-preview">
        <img src="/assets/ps-level-select.png">
        <video preload="auto" loop muted src="/assets/ps-level-select.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>PuzzleScript Level Select</h3>
        <p>I added a level select screen to the PuzzleScript engine.</p>
      </div>
    </a>
    <a class="project-card"
       id="daves"
       href="/posts/daves"
       title="Too Many Daves">
      <div class="project-card-preview">
        <img src="/assets/daves.png">
        <video preload="auto" loop muted src="/assets/daves.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Too Many Daves</h3>
        <p>A time travel puzzle game. My GMTK2021 entry.</p>
      </div>
    </a>
    <a class="project-card"
       id="hexringer"
       href="/posts/hexringer"
       title="Hexringer">
      <div class="project-card-preview">
        <img src="/assets/hexringer.png">
        <video preload="auto" loop muted src="/assets/hexringer.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Hexringer</h3>
        <p>A recreation (with a twist!) of a boss from Crypt of the NecroDancer.</p>
      </div>
    </a>
    <a class="project-card"
       id="worms"
       href="/posts/worms"
       title="Worms Tweetcart">
      <div class="project-card-preview">
        <img src="/assets/worms.png">
        <video preload="auto" loop muted src="/assets/worms.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Worms Tweetcart</h3>
        <p>A fun little animation, written as a pico-8 cartridge that fits inside a tweet.</p>
      </div>
    </a>
  </div>

  <h2>Coming Soon!</h2>
  <p>These are projects that I want to write about but haven't found the time for yet:</p>
  <div class="project-card-list">
    <a class="project-card"
       id="rndbug"
       href="/posts/rndbug"
       title="PICO-8 rnd() Bug">
      <div class="project-card-preview">
        <img src="/assets/rndbug.png">
        <video preload="auto" loop muted src="/assets/rndbug.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>PICO-8 rnd() Bug</h3>
        <p>A deep dive into pico-8 internals!</p>
      </div>
    </a>
    <a class="project-card"
       id="minotaur-lore"
       href="/posts/minotaur-lore"
       title="Minotaur Lore">
      <div class="project-card-preview">
        <img src="/assets/minotaur-lore.png">
        <video preload="auto" loop muted src="/assets/minotaur-lore.mp4"></video>
      </div>
      <div class="project-card-info">
        <h3>Minotaur Lore</h3>
        <p>A custom puzzle dungeon for Crypt of the NecroDancer, designed to teach players one very specific aspect of minotaur AI.</p>
      </div>
    </a>
    <a class="project-card"
       id="puzzle-primer"
       href="/posts/puzzle-primer"
       title="Puzzle Primer">
      <div class="project-card-preview">
        <img src="/assets/puzzle-primer.png">
      </div>
      <div class="project-card-info">
        <h3>Puzzle Primer</h3>
        <p>How to think about puzzle games, for beginners</p>
      </div>
    </a>
    <a class="project-card"
       id="memory-jam"
       href="https://itch.io/jam/memory-jam"
       title="Memory Jam">
      <div class="project-card-preview">
        <img src="/assets/memory-jam.png">
      </div>
      <div class="project-card-info">
        <h3>Memory Jam</h3>
        <p>Make a game inspired by your earliest memories of making games!</p>
      </div>
    </a>
    <a class="project-card"
       id="skewdence"
       href="/posts/skewdence"
       title="Skewdence">
      <div class="project-card-preview">
        <img src="/assets/skewdence.png">
        <!-- <video preload="auto" loop muted src="/assets/skewdence.mp4"></video> -->
      </div>
      <div class="project-card-info">
        <h3>Skewdence</h3>
        <p>A simple, fun mod for Crypt of the NecroDancer.</p>
      </div>
    </a>
  </div>
</section>
<%- include ("/_footer.ejs") %>
<script type="text/javascript">
  function getPreviews(elem) {
    let collection=elem.getElementsByClassName("project-card-preview")
    let previews=collection && collection[0];
    let res={};
    if (!previews) return res;
    for (let c of previews.children) {
      if (c.tagName=="IMG") { res.img=c; }
      if (c.tagName=="VIDEO") { res.video=c; }
    }
    return res;
  }

  for (let elem of document.getElementsByClassName("project-card")) {
    let previews=getPreviews(elem)

    if (!previews.video) { continue; }
    // previews.video.addEventListener("loadeddata", function() {
    //   console.log("loaded event");
    // })
    elem.addEventListener("mouseover",(e)=>{
      // hide image, show video
      previews.img.style.display="none";
      previews.video.style.display="block";
      previews.video.play(); // idempotent
    })
    elem.addEventListener("mouseout",(e)=>{
      // show image, hide video
      previews.img.style.display="block";
      previews.video.style.display="none";
    })
  }
</script>
</body>
</html>
